.main{
    max-width: 1400px;
    margin: auto;
    position: relative;
}

.title{
    font-size: 50px;
    color: #E2A23B;
    text-align: center;
    padding-top: 30px;
}

.iconSeperator{
    display: block;
    margin: 1em auto auto auto;
}

.genderContainer{
    margin-top: 80px;
}

.chooseClassText,
.chooseGenderText{
    color: #E2A23B;
    font-size: 24px;
    text-align: center;
}

.genderImagesContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    color: #E2A23B;
}

.nameInputContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.nameInput{
    background: url('../../public/input-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 350px;
    height: 80px;
    padding: 2em;
    border: none;
    font-size: 18px;
    font-family: "MedievalSharp", sans-serif;
    font-weight: bold;
}

.nameInput:focus{
    outline: none;
}

.submitButton{
    border: none;
    background: #f2d1a6;
    border-radius: 3px;
    width: 280px;
    padding: 1em 2em;
    font-family: "MedievalSharp", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.pictureGenerateButton{
    border: none;
    background: #f2d1a6;
    border-radius: 3px;
    width: 280px;
    padding: 1em 2em;
    font-family: "MedievalSharp", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: block;
    margin: 40px auto 20px auto;
}

.characterFullContainer{
    background: linear-gradient(180deg, #000000 0%, rgba(37, 43, 66, 0.01) 85.5%),
    linear-gradient(180deg, #000000 0%, rgba(37, 43, 66, 0.01) 10%),
    linear-gradient(0deg, #000000 0%, rgba(37, 43, 66, 0.01) 10%),
    url('../../public/background2.webp');
    background-size: cover;
    background-position: center;
    animation: slideIn 1.5s ease-in-out;
    padding: 1em 2em;
    margin-top: 30px;
    color: white;
}

.characterFullTitle{
    font-size: 28px;
}

.characterFeature{
    margin-top: 1em;
    font-size: 24px;
}

.imagesMultiple{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.imagesSingle{
    width: 335px;
    border: 15px solid #B88846;
  border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateY(-45px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@media screen and (max-width: 600px) {
    .genderImagesContainer{
        flex-direction: column;
        gap: 20px;
    }
}